.application {
	position: absolute;

	width: 100%;
	height: 100%;

	border: 0;
	padding: 0;
	margin: 0;

	display: block;
	box-sizing: border-box;

	user-select: none;
	pointer-events: none;

	overflow: hidden;

	background-color: #161616;

	pointer-events: none;

	-webkit-tap-highlight-color: transparent;
}

.canvas-view {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;

	width: 100%;
	height: 100%;

	display: block;
	box-sizing: border-box;

	user-select: none;
	pointer-events: auto;

	overflow: hidden;
}

.ui-holder {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;

	width: 100%;
	height: 100%;

	border: 0;
	padding: 0;
	margin: 0;

	display: block;
	box-sizing: border-box;

	user-select: none;
	pointer-events: none;

	overflow: hidden;
}
