.application {
	position: absolute;

	width: 100%;
	height: 100%;

	border: 0;
	padding: 0;
	margin: 0;

	display: block;
	box-sizing: border-box;

	user-select: none;
	pointer-events: none;

	overflow: hidden;

	background-color: #161616;

	pointer-events: none;

	-webkit-tap-highlight-color: transparent;
}

.application img {
	border: 0;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

.canvas-view {
	position: absolute;

	width: 100%;
	height: 100%;

	border: 0;
	padding: 0;
	margin: 0;

	display: block;
	box-sizing: border-box;

	user-select: none;
	pointer-events: auto;

	overflow: hidden;
}


