.application {
	position: absolute;

	width: 100%;
	height: 100%;

	border: 0;
	padding: 0;
	margin: 0;

	display: block;
	box-sizing: border-box;

	user-select: none;
	pointer-events: none;

	overflow: hidden;

	pointer-events: none;

	font-family: Arial, Helvetica, "Liberation Sans", "Segoe UI", sans-serif;
	font-size: 14px;

	-webkit-tap-highlight-color: transparent;
}

.canvas-view {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;

	width: 100%;
	height: 100%;

	display: block;
	box-sizing: border-box;

	user-select: none;
	pointer-events: auto;

	overflow: hidden;
}

.ui-holder {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;

	width: 100%;
	height: 100%;

	border: 0;
	padding: 0;
	margin: 0;

	display: block;
	box-sizing: border-box;

	user-select: none;
	pointer-events: none;

	overflow: hidden;
}

.ui-holder .ui-menu-holder {
	width: 300px;
	height: 100%;
}

.ui-holder .ui-menu-holder .ui-menu {
	width: 100%;
	height: auto;

	box-sizing: border-box;
	padding: 10px;
	margin: 0;
}

.ui-holder .ui-menu-holder .ui-menu .ui-title {
	width: 100%;
	height: 30px;

	color: white;

	box-sizing: border-box;
	padding-left: 10px;
}

.ui-holder .ui-menu-holder .ui-menu .ui-button {
	width: 100%;
	height: 25px;

	background: black;
	color: white;

	box-sizing: border-box;
	padding-left: 10px;

	font-weight: bold;
	line-height: 25px;

	pointer-events: auto;
	cursor: pointer;
}

.ui-holder .ui-menu-holder .ui-menu .ui-button:hover {
	background: white;
	color: black;
}